---
Language:        Cpp
BasedOnStyle:  Google
# BasedOnStyle: LLVM
# BasedOnStyle: Microsoft
IndentWidth: 4       # 缩进宽度
TabWidth: 4        # tab缩进宽度
# UseTab: Always
UseTab: AlignWithSpaces     # 是否使用Tab缩进
AllowShortFunctionsOnASingleLine: Empty # 简单函数格式化成单行 Empty是函数体是空的才格式化成单行样式
AllowShortBlocksOnASingleLine: Empty # 简单代码块格式化成单行 Empty是代码块是空的才格式化单行样式
AlignConsecutiveAssignments: true  # 连续赋值对齐
# AlignConsecutiveDeclarations: true # 连续声明对齐
