[user]
	name = silascript
	email = cansaiji@gmail.com
; [url "https://github.com.cnpmjs.org/"]
	 ; insteadof = https://github.com/
 ; [url "https://hub.gitfast.tk/"]
	  ; insteadOf = https://github.com/
 ; [url "https://hub.fastgit.xyz/"]
	  ; insteadOf = https://github.com/
; [url "https://hub.nuaa.cf/"]
   ; insteadOf = https://github.com/
[url "https://kgithub.com/"]
   insteadOf = https://github.com/
 ; [url "https://gitclone.com/github.com/"]
	  ; insteadOf = https://github.com/
 ; [url "https://hub.fastgit.org/"]
	  ; insteadOf = https://github.com/
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
