

if [[ $XDG_SESSION_TYPE == "x11" ]];then
	[[ -f $HOME/.local_profile ]] && . $HOME/.local_profile

	export GTK_IM_MODULE=ibus
	export XMODIFIERS=@im=ibus
	export QT_IM_MODULE=ibus
	ibus-daemon -d -x

fi


